
<div class="container-fluid">
    <app-season (month)="getMonth($event)" (season)="getSeason($event)"></app-season>
    <div class="row" *ngIf="schedule$ | async as TeamMonthlySchedule">
        <div class="col-12">
            <table class="table caption-top table-hover">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Match Up</th>
                    <th scope="col">Details</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let match of TeamMonthlySchedule.dates">
                        <td>{{match.date}}</td>
                        <td [innerHtml]="getMatchDetails(match)"></td>
                        <td><a class="NoUnderlineLink" [routerLink]="['/games', match.games[0].gamePk]">Details</a></td>
                    </tr>
                </tbody>
              </table>            
        </div>
    </div>
</div>