<br />
<div class="row">
    <div class="col-6">
        <table class="table" *ngIf="awayPlayers">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">G</th>
                <th scope="col">A</th>
                <th scope="col">+/-</th>
                <th scope="col">PIM</th>
                <th scope="col">TOI</th>
                <th scope="col">
                  
                </th>
              </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-item [ngForOf]="awayPlayers" let-i="index">
                <tr *ngIf="item.position.name !== 'Goalie'">
                    <th scope="row" style="text-align: left;">
                        {{item.person.fullName}}
                    </th>
                    <td>{{item.stats.skaterStats.goals}}</td>
                    <td>{{item.stats.skaterStats.assists}}</td>
                    <td>{{item.stats.skaterStats.plusMinus}}</td>
                    <td>{{item.stats.skaterStats.penaltyMinutes}}</td>
                    <td>{{item.stats.skaterStats.timeOnIce}}</td>
                    <td>
                      <button class="btn" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#A' + item.person.id" aria-expanded="false" [attr.aria-controls]="'A' + item.person.id">+</button>
                    </td>
                </tr>
                <tr class="collapse"  *ngIf="item.position.name !== 'Goalie'" id="A{{item.person.id}}">
                  <td colspan="7">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Hits</th>
                          <th scope="col">Block</th>
                          <th scope="col">PP G</th>
                          <th scope="col">PP A</th>
                          <th scope="col">FO%</th>
                          <th scope="col">TkAwy</th>
                          <th scope="col">GvAwy</th>
                          <th scope="col">ToI</th>
                          <th scope="col">PP ToI</th>
                          <th scope="col">SH ToI</th>
                        </tr>
                      </thead>
                      <tr>
                        <td>{{item.stats.skaterStats.hits}}</td>
                        <td>{{item.stats.skaterStats.blocked}}</td>
                        <td>{{item.stats.skaterStats.powerPlayGoals}}</td>                        
                        <td>{{item.stats.skaterStats.powerPlayAssists}}</td>
                        <td>{{item.stats.skaterStats.faceOffPct}}</td>
                        <td>{{item.stats.skaterStats.takeaways}}</td>
                        <td>{{item.stats.skaterStats.giveaways}}</td>
                        <td>{{item.stats.skaterStats.timeOnIce}}</td>
                        <td>{{item.stats.skaterStats.powerPlayTimeOnIce}}</td>
                        <td>{{item.stats.skaterStats.shortHandedTimeOnIce}}</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </ng-template>
            </tbody>
        </table>
    </div>
    <div class="col-6">
    <table class="table" *ngIf="homePlayers">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">G</th>
          <th scope="col">A</th>
          <th scope="col">+/-</th>
          <th scope="col">PIM</th>
          <th scope="col">TOI</th>
          <th scope="col">
            
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-item [ngForOf]="homePlayers" let-i="index">
        <tr *ngIf="item.position.name !== 'Goalie'">
            <th scope="row" style="text-align: left;">
                {{item.person.fullName}}
            </th>
            <td>{{item.stats.skaterStats.goals}}</td>
            <td>{{item.stats.skaterStats.assists}}</td>
            <td>{{item.stats.skaterStats.plusMinus}}</td>
            <td>{{item.stats.skaterStats.penaltyMinutes}}</td>
            <td>{{item.stats.skaterStats.timeOnIce}}</td>
            <td>
              <button class="btn" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#A' + item.person.id" aria-expanded="false" [attr.aria-controls]="'A' + item.person.id">+</button>
            </td>
        </tr>
        <tr class="collapse"  *ngIf="item.position.name !== 'Goalie'" id="A{{item.person.id}}">
          <td colspan="7">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Hits</th>
                  <th scope="col">Block</th>
                  <th scope="col">PP G</th>
                  <th scope="col">PP A</th>
                  <th scope="col">FO%</th>
                  <th scope="col">TkAwy</th>
                  <th scope="col">GvAwy</th>
                  <th scope="col">ToI</th>
                  <th scope="col">PP ToI</th>
                  <th scope="col">SH ToI</th>
                </tr>
              </thead>
              <tr>
                <td>{{item.stats.skaterStats.hits}}</td>
                <td>{{item.stats.skaterStats.blocked}}</td>
                <td>{{item.stats.skaterStats.powerPlayGoals}}</td>                        
                <td>{{item.stats.skaterStats.powerPlayAssists}}</td>
                <td>{{item.stats.skaterStats.faceOffPct}}</td>
                <td>{{item.stats.skaterStats.takeaways}}</td>
                <td>{{item.stats.skaterStats.giveaways}}</td>
                <td>{{item.stats.skaterStats.timeOnIce}}</td>
                <td>{{item.stats.skaterStats.powerPlayTimeOnIce}}</td>
                <td>{{item.stats.skaterStats.shortHandedTimeOnIce}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </ng-template>
    </tbody>
      </table>
    </div>
</div>
