<br /><br /><br /><br />
<div class="container-fluid">
    <div class="row" *ngIf="player$ | async as player">
        <div class="col-2">
        pic
        </div>
        <div class="col-4">
            <h5>{{player.people[0].fullName}}</h5>
            <div class="row">
                <div class="col-6">
                    #{{player.people[0].primaryNumber}} - {{player.people[0].primaryPosition.code}} &nbsp;&nbsp; 
                        {{player.people[0].birthCity}}, {{player.people[0].birthCountry}}
                </div>
                <div class="col-6">
                    
                </div>                
            </div>
        </div>
        <div class="col-4">
            <h5>Player Info</h5>
            <div class="row">
                <div class="col-6">
                    Height: {{player.people[0].height}}
                </div>
                <div class="col-6">
                    Weight: {{player.people[0].weight}}
                </div>                
            </div>
            <div class="row">
                <div class="col-6">
                    Age: {{player.people[0].currentAge}} ({{player.people[0].birthDate}})
                </div>
                <div class="col-6">
                    Shoots: R
                </div>                
            </div>            
        </div>                
    </div>
    <!-- <div class="row" *ngIf="player$ | async as player">
        <div class="col-4">
            <div class="card" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{player.people[0].fullName}}</h5>
                      <p class="card-text"> #{{player.people[0].primaryNumber}}, {{player.people[0].primaryPosition.code}} &nbsp;&nbsp; 
                        {{player.people[0].birthCity}}, {{player.people[0].birthCountry}}</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-4 border border-1 p-2">
            <div class="row">
                <div class="col-6">
                    <p class="card-text">Height: {{player.people[0].height}}</p>
                    <p class="card-text">Age : {{player.people[0].currentAge}} ({{player.people[0].birthDate}})</p>                                   
                </div>                
                <div class="col-6">
                    <p class="card-text">Weight: {{player.people[0].weight}}</p>  
                    <p class="card-text">Shoots: {{player.people[0].shootsCatches}}</p>   
                </div>
            </div>
        </div>
    </div> -->
    <div class="row" *ngIf="player$ | async as player2">
        <div class="col-12">
            <table class="table caption-top table-hover" *ngIf="careerStats$ | async as StatsCareer">
                <caption>Player Stats</caption>
                <ng-template [ngIf]="player2.people[0].primaryPosition.code!=='G'">
                    <thead>
                        <tr>
                            <th scope="col">Season</th>
                            <th scope="col">Team</th>
                            <th scope="col">GP</th>
                            <th scope="col">G</th>
                            <th scope="col">A</th>
                            <th scope="col">Pts</th>
                            <th scope="col">+/-</th>
                            <th scope="col">PIM</th>
                            <th scope="col">SOG</th>
                            <th scope="col">S%</th>
                            <th scope="col">GWG</th>
                            <th scope="col">PPG</th>
                            <th scope="col">PPP</th>
                        </tr>
                    </thead>
                </ng-template>
                <ng-template [ngIf]="player2.people[0].primaryPosition.code=='G'">
                    <thead>
                        <tr>
                            <th scope="col">Season</th>
                            <th scope="col">Team</th>
                            <th scope="col">GP</th>
                            <th scope="col">GAA</th>
                            <th scope="col">SV %</th>
                            <th scope="col">TOI</th>
                        </tr>
                    </thead>
                </ng-template> 
                <ng-template [ngIf]="player2.people[0].primaryPosition.code!=='G'">
                    <tbody>
                    <tr *ngFor="let stat of StatsCareer.stats[0].splits.slice().reverse()">
                        <th scope="row">{{stat.season | shortSeason}}</th>
                        <td *ngIf="stat.league.id === 133">
                            <a class="NoUnderlineLink" [routerLink]="['/teams', stat.team.id]">{{teamAbbr(stat.team.id || 0)}}</a>
                        </td>
                        <td *ngIf="stat.league.id !== 133">{{stat.team.name}}</td>
                        <td *ngIf="stat.stat.hasOwnProperty('games')">{{stat.stat.games}}</td>
                        <td *ngIf="!stat.stat.hasOwnProperty('games')">&nbsp;</td>
                        <td *ngIf="stat.stat.hasOwnProperty('goals')">{{stat.stat.goals}}</td>
                        <td *ngIf="!stat.stat.hasOwnProperty('goals')">&nbsp;</td>
                        <td *ngIf="stat.stat.hasOwnProperty('assists')">{{stat.stat.assists}}</td>
                        <td *ngIf="!stat.stat.hasOwnProperty('assists')">&nbsp;</td>
                        <td *ngIf="stat.stat.hasOwnProperty('points')">{{stat.stat.points}}</td>
                        <td *ngIf="!stat.stat.hasOwnProperty('points')">&nbsp;</td>
                        <td *ngIf="stat.stat.hasOwnProperty('plusMinus')">{{stat.stat.plusMinus}}</td>
                        <td *ngIf="!stat.stat.hasOwnProperty('plusMinus')">&nbsp;</td>
                        <td *ngIf="stat.stat.hasOwnProperty('pim')">{{stat.stat.pim}}</td>
                        <td *ngIf="!stat.stat.hasOwnProperty('pim')">&nbsp;</td>
                        <td *ngIf="stat.stat.hasOwnProperty('shots')">{{stat.stat.shots}}</td>
                        <td *ngIf="!stat.stat.hasOwnProperty('shots')">&nbsp;</td>
                        <td *ngIf="stat.stat.hasOwnProperty('shotPct')">{{stat.stat.shotPct}}</td>
                        <td *ngIf="!stat.stat.hasOwnProperty('shotPct')">&nbsp;</td>
                        <td *ngIf="stat.stat.hasOwnProperty('gameWinningGoals')">{{stat.stat.gameWinningGoals}}</td>
                        <td *ngIf="!stat.stat.hasOwnProperty('gameWinningGoals')">&nbsp;</td>
                        <td *ngIf="stat.stat.hasOwnProperty('powerPlayGoals')">{{stat.stat.powerPlayGoals}}</td>
                        <td *ngIf="!stat.stat.hasOwnProperty('powerPlayGoals')">&nbsp;</td>
                        <td *ngIf="stat.stat.hasOwnProperty('powerPlayPoints')">{{stat.stat.powerPlayPoints}}</td> 
                        <td *ngIf="!stat.stat.hasOwnProperty('powerPlayPoints')">&nbsp;</td>                    
                    </tr>
                    </tbody>
                </ng-template>  
                <ng-template [ngIf]="player2.people[0].primaryPosition.code==='G'">
                    <tbody>
                    <tr *ngFor="let stat of StatsCareer.stats[0].splits.slice().reverse()">
                        <th scope="row">{{stat.season | shortSeason}}</th>
                        <td *ngIf="stat.league.id === 133">
                            <a class="NoUnderlineLink" [routerLink]="['/teams', stat.team.id]">{{teamAbbr(stat.team.id || 0)}}</a>
                        </td>
                        <td *ngIf="stat.league.id !== 133">{{stat.team.name}}</td>
                        <td *ngIf="stat.stat.hasOwnProperty('games')">{{stat.stat.games}}</td>
                        <td *ngIf="!stat.stat.hasOwnProperty('games')">&nbsp;</td>
                        <td *ngIf="stat.stat.hasOwnProperty('goalAgainstAverage')">{{stat.stat.goalAgainstAverage}}</td>
                        <td *ngIf="!stat.stat.hasOwnProperty('goalAgainstAverage')">&nbsp;</td>
                        <td *ngIf="stat.stat.hasOwnProperty('savePercentage')">{{stat.stat.savePercentage}}</td>
                        <td *ngIf="!stat.stat.hasOwnProperty('savePercentage')">&nbsp;</td>
                        <td *ngIf="stat.stat.hasOwnProperty('timeOnIce')">{{stat.stat.timeOnIce}}</td>
                        <td *ngIf="!stat.stat.hasOwnProperty('timeOnIce')">&nbsp;</td>                  
                    </tr>
                    </tbody>
                </ng-template>                              
              </table>
        </div>
    </div>
  </div>
  <ng-template #goalieTR>
    <tr>
        <th scope="col">Season</th>
        <th scope="col">Team</th>
        <th scope="col">GP</th>
        <th scope="col">GAA</th>
        <th scope="col">SO</th>
        <th scope="col">TOI</th>
    </tr>
  </ng-template>

  <ng-template #playerTR>
    <tr>
        <th scope="col">Season</th>
        <th scope="col">Team</th>
        <th scope="col">GP</th>
        <th scope="col">G</th>
        <th scope="col">A</th>
        <th scope="col">Pts</th>
        <th scope="col">+/-</th>
        <th scope="col">PIM</th>
        <th scope="col">SOG</th>
        <th scope="col">S%</th>
        <th scope="col">GWG</th>
        <th scope="col">PPG</th>
        <th scope="col">PPP</th>
    </tr>
  </ng-template>