<div class="row">
    <app-season [showMonth]="false" (season)="getRosterforSeason($event)"></app-season>
    <div class="col-6">   
        <table class="table caption-top" *ngIf="roster$ | async as roster">
            <caption>Forward</caption>
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let player of roster">
                    <tr *ngIf="player.position.type == 'Forward'">
                    <th scope="row"><a class="NoUnderlineLink" [routerLink]="['/players', player.person.id]">{{player.person.fullName}} - #{{player.jerseyNumber}}</a></th>
                    <td>{{player.position.name}}</td>
                    </tr>
                </ng-container> 
            </tbody>
        </table>                             
    </div>  
    <div class="col-6">   
        <table class="table caption-top" *ngIf="roster$ | async as roster">
            <caption>Defense</caption>
            <thead>
                <tr>
                <th scope="col"></th>   
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let player of roster">
                    <tr *ngIf="player.position.type == 'Defenseman'">
                    <th scope="row"><a class="NoUnderlineLink" [routerLink]="['/players', player.person.id]">{{player.person.fullName}} - #{{player.jerseyNumber}}</a></th>
                    <td>{{player.position.name}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table> 
        
        <table class="table caption-top" *ngIf="roster$ | async as roster">
            <caption>Goalies</caption>
            <thead>
                <tr>
                <th scope="col"></th>   
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let player of roster">
                    <tr *ngIf="player.position.type == 'Goalie'">
                    <th scope="row"><a class="NoUnderlineLink" [routerLink]="['/players', player.person.id]">{{player.person.fullName}} - #{{player.jerseyNumber}}</a></th>
                    <td>{{player.position.name}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>     
    </div>  
</div>
