<br /><br /><br />
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <select class="form-select" aria-label="Year" #sel (change)="getYear(sel.value)">
                <option *ngFor="let year of draftYears;let i=index" [value]="year" [selected]="year.selected == true">
                    {{ year}}
                </option>
            </select>
        </div>

        <div class="col-10">
            <div class="row" *ngIf="draft$ | async as drafts">
                Rounds 
                <ul class="list-group list-group-horizontal">
                    <li  style="border-style: none;" class="list-group-item" *ngFor="let round of drafts.drafts[0].rounds; let i=index">
                        <a [routerLink]="['/draft/', draftYear, round.round]">
                        {{round.round}}
                        </a>
                    </li>
                </ul>
                <!-- <div class="list-group list-group-horizontal">
                    <a class="list-group-item list-group-item-action" 
                    *ngFor="let round of drafts.drafts[0].rounds" 
                    [routerLink]="['/draft', draftYear, round.round]">
                    {{round.round}}
                    </a>
                </div> -->
            </div>
            <div class="row">
                
            </div>
        </div>
    </div>
</div>