<br /><br /><br />
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <select class="form-select" aria-label="Year" #sel (change)="getYear(sel.value)">
                <option *ngFor="let year of draftYears;let i=index" [value]="year" [selected]="year == selectedDraftYear">
                    {{ year}}
                </option>
            </select>
        </div>

        <div class="col-10">
            <div class="row" *ngIf="draft$ | async as drafts">
                Rounds 
                <ul class="list-group list-group-horizontal">
                    <li  style="border-style: none;" class="list-group-item" *ngFor="let round of drafts.drafts[0].rounds; let i=index">
                        <a [routerLink]="['/draft/', selectedDraftYear, round.round]">
                        {{round.round}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row" *ngFor="let pick of round.picks as Pick">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{teamsHlp.getTeamLogoById(pick.team.id)}}" style="width: 100px; height: 100px;" class="top-nav__club-logo-img" alt="{{pick.team.name}}">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{pick.prospect.fullName}} - {{pick.pickOverall}} - round {{pick.round}}</h5>
                          <a [routerLink]="['./prospects/', pick.prospect.id]">
                                player details
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>                
            </div>
        </div>
    </div>
</div>