<div class="card"  *ngIf="stat$ | async">
    <div class="card-body">
      <h5 class="card-title" (click)="goToTeam(teamStat.stats[0].splits[0].team.id)">{{teamStat.stats[0].splits[0].team.name}}</h5>
      <p class="card-text">
        <small class="text-muted">
        {{teamStat.stats[0].splits[0].stat.wins}}
            -
        {{teamStat.stats[0].splits[0].stat.losses}}
            -
        {{teamStat.stats[0].splits[0].stat.ot}}
        </small>    
      </p>
      <h6 class="card-title">Last Game</h6>
      <p class="card-text" *ngIf="prevGame.teams[0].previousGameSchedule">
            <small class="text-muted">
            {{prevGame.teams[0].previousGameSchedule.dates[0].games[0].teams.home.score}}
            {{teamsHlp.getTeamAbbrById(prevGame.teams[0].previousGameSchedule.dates[0].games[0].teams.home.team.id)}}
            -
            {{prevGame.teams[0].previousGameSchedule.dates[0].games[0].teams.away.score}}
            {{teamsHlp.getTeamAbbrById(prevGame.teams[0].previousGameSchedule.dates[0].games[0].teams.away.team.id)}}
            </small> 
      </p>
    
      <h6 class="card-title">Next Game</h6>
      <p class="card-text" *ngIf="nextGame.teams[0].nextGameSchedule">
            <small class="text-muted">
            {{teamsHlp.getTeamAbbrById(nextGame.teams[0].nextGameSchedule.dates[0].games[0].teams.home.team.id)}}
            -
            {{teamsHlp.getTeamAbbrById(nextGame.teams[0].nextGameSchedule.dates[0].games[0].teams.away.team.id)}}
            &nbsp;
            {{nextGame.teams[0].nextGameSchedule.dates[0].date}}
            </small> 
      </p>
    </div>
  </div>
